<%= turbo_stream_from comment %>
<%= turbo_frame_tag comment do %>
  <div class="comment-container">
    <div class="comment-header">
      <%= render partial: 'users/avatar', locals: { user: comment.author } %>
      <p><strong><%= comment.author.full_name %></strong></p>
    </div>
    <div class="comment-content">
      <p><%= comment.content %></p>
      <div class="author-actions">
        <%= link_to edit_comment_path(comment), title: "Edit Comment"  do %>
          <span class="material-icons">edit</span>
        <% end %>
        <%= link_to comment_path(comment), method: 'delete', title: "Delete Comment"  do %>
          <span class="material-icons">delete</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
