<div class="post-container">
  <div class="post-header">
    <div class="header-profile">
      <%= render partial: 'users/avatar', locals: { user: text_post.author } %>
      <div class="header-content">
        <p><strong><%= text_post.author.full_name %></strong></p>
        <p><small><%= time_ago_in_words(text_post.created_at) %> ago</small></p>
      </div>
    </div>
    <%= render partial: 'likes/like', locals: { likeable: text_post } %>
  </div>
  <div class="post-content">
    <div class="author-actions">
      <% if text_post.author == current_user %>
        <%= link_to edit_text_post_path(text_post) do %>
          <span class="material-icons">edit</span>
        <% end %>
        <%= link_to text_post_path(id: text_post.id), {:controller => :text_post, :method => 'delete' } do %>
          <span class="material-icons">delete</span>
        <% end %>
      <% end %>
    </div>
    <p><%= text_post.content %></p>
  </div>
  <div class="post-responses">
    <%= render partial: 'likes/form', locals: { likeable: text_post, like: text_post.find_like_by_user(current_user) } %>
    <% text_post.comments&.each do |comment| %>
      <%= render partial: 'comments/comments', locals: { comment: comment } %>
    <% end %>
    <%= render partial: 'comments/form', locals: { commentable: text_post } %>
  </div>
</div>
