<%= turbo_frame_tag dom_id(@text_post) do %>
  <div class="post-container">
    <div class="post-header">
      <div class="header-profile">
        <%= render partial: 'users/avatar', locals: { user: @text_post.author } %>
        <div class="header-content">
          <p><strong><%= @text_post.author.full_name %></strong></p>
          <p><small><%= time_ago_in_words(@text_post.created_at) %> ago</small></p>
        </div>
      </div>
    </div>
    <div class="post-content">
        <div class="post-form">
        <%= form_with model: @text_post do |f| %>

          <div class="form-fields">
            <%= f.text_area :content, cols: 200, rows: 1 %>

            <%= button_tag :submit do %>
              <span class="material-icons">add</span>
              <span class="material-icons">chat_bubble</span>
            <% end %>
          </div>

        <% end %>
        <%= link_to "Cancel", @text_post, class: "cancel-edit-mode" %>
      </div>
    </div>
    <div class="post-actions">
      <div class="like-actions">
        <%= render partial: 'likes/like', locals: { likeable: @text_post } %>
        <%= render partial: 'likes/form', locals: { likeable: @text_post } %>
      </div>
    </div>
    <div class="post-comments">
      <%= turbo_stream_from @text_post, :comments %>
      <%= tag.div id: "#{dom_id(@text_post)}_comments" do %>
        <%= render @text_post.comments %>
      <% end %>
    </div>
  </div>
<% end %>
