<h2>Notifications</h2>
<div class="notification-summary">
  <% @notifications&.each do |notification| %>

    <% if notification.notifiable_type == "FriendshipRequest" %>
      <%= render partial: 'friendship_requests/show',
                  locals: { request: notification.notifiable,
                            inverse_friend: notification.notifiable.user,
                            friendship_request_statuses: @friendship_request_statuses } %>
    <% elsif notification.notifiable_type == "Comment" && notification.notifiable&.commentable.is_a?(Post) %>
      <%= render partial: 'posts/summary', locals: { notification: notification } %>
    <% elsif notification.notifiable_type == "Comment" && notification.notifiable&.commentable.is_a?(Photo) %>
      <%= render partial: 'photos/summary', locals: { notification: notification } %>
    <% elsif notification.notifiable_type == "Like" &&  notification.notifiable&.likeable.is_a?(Post) %>
      <%= render partial: 'posts/summary', locals: { notification: notification } %>
    <% elsif notification.notifiable_type == "Like" &&  notification.notifiable&.likeable.is_a?(Photo) %>
      <%= render partial: 'photos/summary', locals: { notification: notification } %>
    <% end %>
  <% end %>
</div>
