<h1>User Index Page</h1>

<h2>Friends</h2>
<% @sent_requests.each do |request| %>
  <p>
    <%= request.requested_friend.email %>
    <%= request.status %>
    <%= button_to "Delete Request", friendship_request_path(request), method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
<% end %>

<% @received_requests.each do |request| %>
  <p>
    <%= request.user.email %>
    <%= request.status %>
    <% @friendship_request_statuses.each do |status| %>
      <%= button_to "#{status.capitalize}", friendship_request_path(request), method: :patch, params: { status: "#{status}" } %>
    <% end %>
  </p>
<% end %>

<h2>Find New Friends</h2>
<% @other_users.each do |user| %>
  <p>
    <%= user.email%> <%= button_to "Add Friend", friendship_requests_path, method: :post, params: { requested_friend_id: user.id } %>
  </p>
<% end %>
