<h2>Account Details</h2>

<div class="user-container">
  <div class="account-info">
    <div class="account-header">
      <%= render partial: 'avatar', locals: { user: @user } %>
      <p><%= @user.full_name %></p>
    </div>
    <p><%= @user.email %></p>

    <%= form_with model: @user do |f| %>

      <div>
        <%= f.label "Add or Update Avatar" %><br />
        <%= f.file_field :avatar, required: true %>
      </div>

      <%= f.submit "Update Avatar" %>
    <% end %>

    <%= link_to "Edit Account", edit_user_registration_path %>
  </div>

  <h3>Personal Timeline</h3>

  <% @timeline&.each do |item| %>
    <% if item.photo_post? %>
      <%= render partial: 'photo_posts/photo_post', locals: { photo_post: item.postable } %>
    <% elsif item.text_post?%>
      <%= render partial: 'text_posts/text_post', locals: { text_post: item.postable } %>
    <% end %>
  <% end %>

  <%= paginate @timeline %>

</div>
