<h2>Account Details</h2>

<div class="user-container">
  <div class="account-info">
    <div class="account-header">
      <%= render partial: 'avatar', locals: { user: @user } %>
      <p><%= @user.full_name %></p>
    </div>
    <p><%= @user.email %></p>

    <%= form_with model: @user do |f| %>

      <div class="field">
        <%= f.label "Add or Update Avatar" %><br />
        <%= f.file_field :avatar, required: true %>
      </div>

      <%= f.submit %>
    <% end %>

    <%= link_to "Edit Account", edit_user_registration_path %>
  </div>
</div>
