<h2>Account Details</h2>

<div class="user-container">
  <div class="account-info">
    <div class="account-header">
      <% if @user.avatar.attached? %>
        <span class="profile-picture"><%= cl_image_tag @user.avatar.key, width: 87, crop: "fill" %></span>
      <% else %>
        <span class="material-icons profile-picture">account_circle</span>
      <% end %>
      <p><%= current_user.full_name %></p>
    </div>
    <p><%= current_user.email %></p>

    <%= form_with model: @user do |f| %>

      <div class="field">
        <%= f.label "Add or Update Avatar" %><br />
        <%= f.file_field :avatar, required: true %>
      </div>

      <%= f.submit %>
    <% end %>

    <%= link_to "Edit Account", edit_user_registration_path %>
  </div>
</div>
