  <div class="user-header">
    <h2><%= @user.full_name %></h2>
    <%= link_to "Update Account", edit_user_registration_path %>
  </div>

<div class="user-container">
  <div class="user-info">
    <h3>My Avatar</h3>

    <%= form_with model: @user do |f| %>

      <div class="avatar-file-upload">
        <%= render partial: 'avatar', locals: { user: @user } %>
        <%= f.file_field :avatar, required: true %>
      </div>

      <%= button_tag :submit do %>
        <span class="material-icons">add</span>
        <span class="material-icons">image</span>
      <% end %>

    <% end %>
  </div>

  <div class="user-timeline">
    <h3>My Timeline</h3>

    <% @timeline&.each do |item| %>
      <% if item.photo_post? %>
        <%= render partial: 'photo_posts/photo_post', locals: { photo_post: item.postable } %>
      <% elsif item.text_post?%>
        <%= render partial: 'text_posts/text_post', locals: { text_post: item.postable } %>
      <% end %>
    <% end %>

    <%= paginate @timeline %>
  </div>
</div>
