<%= turbo_frame_tag dom_id(@photo_post) do %>
  <div class="photo-container">
    <div class="photo-header">
      <div class="header-profile">
        <%= render partial: 'users/avatar', locals: { user: @photo_post.author } %>
        <div class="header-content">
          <p><strong><%= @photo_post.author.full_name %></strong></p>
          <p><small><%= time_ago_in_words(@photo_post.created_at) %> ago</small></p>
        </div>
      </div>
    </div>
    <div class="photo-content">
      <div class="photo-form">
        <%= form_with model: @photo_post do |f| %>

          <div class="image-upload-field">
            <%= f.file_field :image %>
          </div>

          <div class="form-fields">
            <%= f.text_area :description, cols: 200, rows: 1, placeholder: "Describe your photo" %>
            <%= button_tag :submit do %>
              <span class="material-icons">add</span>
              <span class="material-icons">image</span>
            <% end %>
          </div>

        <% end %>
         <%= link_to "Cancel", @photo_post, class: "cancel-edit-mode" %>
      </div>
    </div>
    <div class="photo-actions">
      <div class="like-actions">
        <%= render partial: 'likes/like', locals: { likeable: @photo_post } %>
        <%= render partial: 'likes/form', locals: { likeable: @photo_post } %>
      </div>
    </div>
    <div class="photo-comments">
      <%= turbo_stream_from @photo_post, :comments %>
      <%= tag.div id: "#{dom_id(@photo_post)}_comments" do %>
        <%= render @photo_post.comments.order(created_at: :asc) %>
      <% end %>
    </div>
  </div>
<% end %>
