<div class="post">
  <%= render partial: 'form' %>

  <% @posts&.each do |post| %>
    <div class="post-container">
      <div class="post-header">
        <div class="header-profile">
          <%= render partial: 'users/avatar', locals: { user: post.author } %>
          <div class="header-content">
            <p><strong><%= post.author.full_name %></strong></p>
            <p><small><%= time_ago_in_words(post.created_at) %> ago</small></p>
          </div>
        </div>
        <div class="like-count">
          <% if post.likes_count > 0 %>
            <small><%= post.likes_count %></small>
            <span class="material-icons">thumb_up</span>
          <% end %>
        </div>
      </div>
      <p class="post-content"><%= post.content %></p>
      <div class="post-actions">
        <%= render partial: 'likes/new', locals: { post: post } %>
        <% post.comments&.each do |comment| %>
          <%= render partial: 'comments/show', locals: { comment: comment } %>
        <% end %>
        <%= render partial: 'comments/new', locals: { post: post } %>
      </div>
    </div>
  <% end %>
</div>
