<div class="newsfeed">

  <div class="newsfeed-forms">
    <div class="newsfeed-tabs">
      <%= radio_button_tag :newsfeed, :post, true %>
      <%= label_tag :newsfeed_post, "Share a Post" %>
      <div class="tabs-content">
        <%= render partial: 'text_posts/form' %>
      </div>
      <%= radio_button_tag :newsfeed, :photo, false %>
      <%= label_tag :newsfeed_photo, "Share a Photo" %>
      <div class="tabs-content">
        <%= render partial: 'photo_posts/form' %>
      </div>
    </div>
  </div>

  <% @feed&.each do |item| %>
    <% if item.is_a?(PhotoPost) %>
      <%= render partial: 'photo_posts/photo_post', locals: { photo_post: item } %>
    <% else %>
      <%= render partial: 'text_posts/text_post', locals: { text_post: item } %>
    <% end %>
  <% end %>
</div>
